:root Ñ {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2424245e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  padding: 10px;
  background-color: rgb(235, 235, 235);
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  #field {
    overflow: hidden;
    width: 200px;
    height: 150px;
    border-top: 10px solid black;
    border-right: 10px solid gray;
    border-bottom: 10px solid gray;
    border-left: 10px solid black;
    background-color: #00ff00;
    font: 10px/1.2 monospace;
  }

  .triangle-right {
    position: relative;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 20px solid red;
    text-indent: -20px;
    font: 12px/1 monospace;
  }
  
   body>div.poni {
      margin: 10px auto;
      width: 470px;
    }
    
    h3>div.poni {
      margin: 0;
      padding-bottom: 0.3em;
      font-size: 1.1em;
    }
    
    p>div.poni {
      margin: 0;
      padding: 0 0 0.5em;
    }
    .pane {
      background: #edf5e1;
      padding: 10px 20px 10px;
      border-top: solid 2px #c4df9b;
    }
    
    .remove-button {
      font-size: 110%;
      color: darkred;
      right: 10px;
      width: 24px;
      height: 24px;
      border: none;
      background: transparent;
      cursor: pointer;
      
      
      
    }
    .nextdata {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    
    
    
    body>div#container {
       margin: 10px auto;
       width: 470px;
     }
    
    .pane {
      background: #edf5e1;
      padding: 10px 20px 10px;
      border-top: solid 2px #c4df9b;
      position: relative;
    }
    
    .remove-button {
      position: absolute;
      font-size: 110%;
      top: 0;
      color: darkred;
      right: 10px;
      display: block;
      width: 24px;
      height: 24px;
      border: none;
      background: transparent;
      cursor: pointer;
    }

    .overlay {
      position: fixed;
      left: 0;
      top:0;
      width: 100%;
      height: 100%;
      background-color: #1a1a1a48;
    }

    .overlay div {
      padding: 20px;
      background-color: #646cff;
      position: relative;
      top:50%;
      left: 50%;
      width: 30%;
      transform: translate(-50%,-50%);
    }

    #openButton {
      display: flex;       
      margin-top: 20px;
    }
    .divKrug{
      display: flex;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #00ff00;
    }
    .imageSlide {
      position: fixed;
      left: 0;
      top:0;
      width: 100%;
      height: 100%;
      background-color: #1a1a1a48;
    }
    .imageSlide img {
      width: 400px;
      height: 400px;
      padding: 20px;
      // background-color: #646cff;
      position: relative;
      top:50%;
      left: 50%;
      width: 30%;
      transform: translate(-50%,-50%);
    }
    #imgSlaid {
      height: 300px;
      width: 320px;
      overflow: hidden;
    }
    #imgSlaid img {
      height: 300px;
      width: 320px;
      object-fit: cover;
      object-position: center;
    }
}
